@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}
.container > .caixas > a {
    color: black;
    width: 538px;
    height: 55px;
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 255, 255);
    padding: 8px 16px 8px 8px;
    gap: 10px;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 48px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 24px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .container > .caixas > a {
        width: 320px;
        height: 60px;
    }
    .container {
        margin: 0 auto;
    }
    .container > .caixas {
        margin: 0 auto;
        width: ;
    }
}

.container > .caixas :hover {
    background: #FFFFFF;
    border: 1px solid #292929;
    box-shadow: 4px 4px 0px #292929;
    border-radius: 48px;
    transition: 0.10s;
    gap: 10px; 
}

.iconredesocial {
    width: 24px;
    height: 24px;
    margin: 20px;
}
.iconseta {
   width: 24px;
   margin-left: auto;
    margin-bottom: 0px;
    width: 24px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    justify-items: flex-end;
}